<div class="user-details">
  <h1> Something </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Issue </h3>
    <ul>
      <li> Click and see </li>
    </ul>
    <p>404</p>
    <a class="project-link" href="issue/certificate_of_merit.html">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Issue </h3>
    <ul>
      <li> Forget </li>
    </ul>
    <p>Page down</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
